.section2 {
    height: auto;

    .bush {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
            font-weight: 800;
            font-size: 48px;
            line-height: 18px;
            margin-top: 30px;
            text-align: center;
            vertical-align: middle;
        }

        .p {
            display: flex;
            margin-top: auto;
            align-self: flex-end;
            color: #956D84;

            a {
                text-decoration: none;
                color: #956D84;

                p {
                    text-decoration: none;
                }
            }

            .strel {
                margin-bottom: 20px;
            }
        }
    }

    .block-text {
        margin-top: 14%;
        display: flex;
        gap: 20px;



        img {
            width: 382px;
            height: 343px;
        }

        .forum {
            width: 450px;
            height: 371px;
            background-color: #956D84;
            color: white;
            position: relative;


            img {
                position: absolute;
                bottom: 50%;
                margin-left: 18px;
            }

            h1 {
                margin-top: 45%;
                font-family: Museo Sans Cyrl;
                font-weight: 300;
                font-size: 30px;
                margin-left: 25px;


            }

            p {
                margin-top: 30px;
                font-family: Museo Sans Cyrl;
                font-weight: 200;
                font-size: 18px;
                line-height: 18px;
                margin-left: 25px;


            }

        }

        .forum1 {
            width: 450px;
            height: 371px;
            background-color: #956D84;
            color: white;
            position: relative;


            img {
                position: absolute;
                bottom: 50%;
                margin-left: 18px;
            }

            h1 {
                margin-top: 45%;
                font-family: Museo Sans Cyrl;
                font-weight: 300;
                font-size: 30px;
                margin-left: 25px;
            }

            p {
                margin-top: 30px;
                font-family: Museo Sans Cyrl;
                font-weight: 200;
                font-size: 18px;
                line-height: 18px;
                margin-left: 25px;
            }

        }

        .forum2 {
            width: 450px;
            height: 371px;
            background-color: #956D84;
            color: white;
            position: relative;


            img {
                position: absolute;
                bottom: 50%;
                margin-left: 18px;
            }

            h1 {
                margin-top: 45%;
                font-family: Museo Sans Cyrl;
                font-weight: 300;
                font-size: 30px;
                margin-left: 25px;


            }

            p {
                margin-top: 30px;
                font-family: Museo Sans Cyrl;
                font-weight: 200;
                font-size: 18px;
                line-height: 18px;
                margin-left: 25px;
            }

        }
    }
}
// @media (min-width: 320px) and (max-width: 480px) {
//     .section2 {
//         .block-text {
//             flex-direction: column;
//             align-items: center; /* Элементтерди ортого жайгаштыруу */
//             gap: 20px;

//             img {
//                 width: 382px;
//                 height: 343px;
//                 // margin: auto;
                
//             }

//             .forum, .forum1, .forum2 {
//                 width: 450px;
//                 height: 371px;

           

//                 h1 {
//                     margin-top: 45%;
//                     font-size: 30px;
//                     margin-left: 25px;
//                 }

//                 p {
//                     margin-top: 30px;
//                     font-size: 18px;
//                     line-height: 18px;
//                     margin-left: 25px;
//                 }
//             }
//         }
//     }
// }










