.cart {
  padding: 20px;
  background-color: #f8f8f8;

  &.open {
    display: block;
  }

  &.closed {
    display: none;
  }

  .cart-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;

    .cart-left {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .cart_top {
        display: flex;
        justify-content: space-between;
        padding: 20px 10px 0;
        border-radius: 4px;
        text-align: center;
        align-items: center;
        box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
        background: #fff;
        height: 102px;
        width: 100%;

        p {
          flex: 1;
          text-align: center;
          font-weight: bold;
        }
      }

      .empty-cart {
        text-align: center;
        font-style: italic;
        color: #999;
        padding: 40px;
        background: #fff;
        border-radius: 8px;
        box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
      }

      .cart_product {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        // margin-bottom: 10px;
        background: #fff;
        box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
        border-radius: 6px;

        .cart_title {
          display: flex;
          align-items: center;
          gap: 10px;
          width: 160px;

          img {
            width: 80px;
            height: 80px;
            object-fit: contain;
            border-radius: 4px;
          }

          p {
            font-weight: 500;
          }
        }

        .new-price {
          font-size: 16px;
          font-weight: 500;
          width: 100px;
          text-align: center;
        }

        .quantity-controls {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 120px;

          .quantity-btn {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 5px 10px;
            background-color: #ffffff;
            border: 1.5px solid rgba(0, 0, 0, 0.4);
            border-radius: 4px;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            color: black;
            span {
              cursor: pointer;
              transition: transform 0.2s ease-in-out;

              &:hover {
                transform: scale(1.2);
              }
            }

            .quantity-value {
              font-weight: bold;
              font-size: 16px;
            }
          }
        }

        .total-price {
          width: 100px;
          text-align: center;
          font-weight: 600;
        }
      }
    }

    .cart-right {
      width: 400px;
      padding: 20px;
      background: #fff;
      box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      p {
        margin: 0;
      }
      .total_par{
        padding: 10px;
      }
      .cart_total {
        background-color: #f0f0f0;
        padding: 10px;

        border-radius: 6px;
        font-weight: bold;
      }

      div {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        line-height: 1.4;

        input[type='radio'] {
          margin-top: 4px;
        }
      }

      .cart_btn button {
        padding: 12px;
        background:  #e91e63;
        color: white;
        border: none;
        border-radius: 6px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: #ff6b6b;

        }
      }
    }
  }
}
